<div class="fr-grid-row question-container-printanswers">
    {% include './subviews/printanswers/partials/_question_header.twig' %}
    <div class="fr-col-12 fr-col-md-7 printanswers-q__answer">
        {% for sqid, sq in question.subquestions %}
            <div class="printanswers-sub">
                <span class="printanswers-sub__label">{{ sq.question }}</span>
                <span class="printanswers-sub__value">
                    {% if sq.answeroption.answer is defined and sq.answeroption.answer is not empty %}
                        {{ sq.answeroption.answer }}
                    {% elseif sq.answervalue is not null and sq.answervalue != '' %}
                        {{ sq.answervalue|escape }}
                    {% else %}
                        <span class="printanswers-empty">&mdash;</span>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>
</div>
