<div class="fr-grid-row question-container-printanswers">
    {% include './subviews/printanswers/partials/_question_header.twig' %}
    <div class="fr-col-12 fr-col-md-7 printanswers-q__answer">
        <div class="fr-table fr-table--bordered">
            <table>
                <thead>
                    {% for sqid, sq in question.subquestions %}
                        {% if sq.question_order == 1 %}
                            <tr>
                                <th></th>
                                {% for colname, value in sq.answervalueslabels %}<th>{{ value }}</th>{% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </thead>
                <tbody>
                    {% for sqid, sq in question.subquestions %}
                        <tr>
                            <td>{{ sq.question }}</td>
                            {% for colname, value in sq.answervalues %}<td>{% if value is not null and value != '' %}{{ value|escape }}{% else %}<span class="printanswers-empty">&mdash;</span>{% endif %}</td>{% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
