<div class="fr-grid-row question-container-printanswers">
    {% include './subviews/printanswers/partials/_question_header.twig' %}
    <div class="fr-col-12 fr-col-md-7 printanswers-q__answer">
        {% set _count = 0 %}
        {% for sqid, sq in question.subquestions %}
            {% if sq.answervalue is same as("Y") %}{% set _count = _count + 1 %}{% endif %}
        {% endfor %}
        {% if _count > 0 %}
            <ul class="printanswers-q__list">
                {% for sqid, sq in question.subquestions %}
                    {% if sq.answervalue is same as("Y") %}
                        <li>{{ sq.question }}{% if sq.comment.answervalue is defined and sq.comment.answervalue is not empty %} &mdash; <em>{{ sq.comment.answervalue|escape }}</em>{% endif %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <span class="printanswers-empty">&mdash;</span>
        {% endif %}
    </div>
</div>
