<div class="fr-grid-row question-container-printanswers">
    {% include './subviews/printanswers/partials/_question_header.twig' %}
    <div class="fr-col-12 fr-col-md-7 printanswers-q__answer">
        {% if question.fileinfo is defined and question.fileinfo is not empty %}
            <ul class="printanswers-q__list">
                {% for file in question.fileinfo %}
                    <li>{{ file.title|escape }}{% if file.comment is not empty %} &mdash; <em>{{ file.comment|escape }}</em>{% endif %}</li>
                {% endfor %}
            </ul>
        {% else %}
            <span class="printanswers-empty">&mdash;</span>
        {% endif %}
    </div>
</div>
