<div class="fr-grid-row question-container-printanswers">
    {% include './subviews/printanswers/partials/_question_header.twig' %}
    <div class="fr-col-12 fr-col-md-7 printanswers-q__answer">
        {% if question.answervalues is not empty %}
            <ol class="printanswers-q__ranked">
                {% for rankedvalue in question.answervalues %}
                    <li>{% if rankedvalue.option.answer is defined and rankedvalue.option.answer is not empty %}{{ rankedvalue.option.answer }}{% else %}{{ rankedvalue.value|escape }}{% endif %}</li>
                {% endfor %}
            </ol>
        {% else %}
            <span class="printanswers-empty">&mdash;</span>
        {% endif %}
    </div>
</div>
