 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="fr-col-lg-8">
    <div class="fr-grid-row">
        <div class="fr-col-lg-4 text-end">
            {% if question.answercode == '-oth-' %}
                {{question.answeroption.answer|escape}}
            {% else %}
                {{question.answeroption.answer}}
            {%endif %}
        </div>
        <div class="fr-col-lg-8 text-start">
            <b>{{question.answervalue}}</b>
        </div>
    </div>
</div>
{% endblock %}
